* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

#container {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f2f5;
}

.left-box,
.right-box,
form {
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.left-box {
  width: 500px;
  align-items: flex-start;
}
.left-box h1 {
  font-family: "facebook letter faces";
  font-size: 60px;
  color: #1877f2;
}

.left-box p {
  font-size: 30px;
  color: #1c1e21;
  height: 200px;
  font-family: "Roboto Condensed", sans-serif;
}
.right-box {
  width: 400px;
}
form {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  display: flex;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  font-size: 16px;
}
.loginBtn {
  background-color: #1877f2;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: "Arial";
  font-weight: 700;
  transition: 0.5s;
}
.loginBtn:hover {
  background-color: #4257b2;
}
.email:hover {
  border: 1px solid #1877f2;
}
.forget {
  margin: 15px 0;
  text-decoration: none;
  color: #1877f2;
  font-family: "Arial";
  font-size: 14px;
}
.forget:hover {
  background-color: #42b72a;
}
.sign-up {
  padding-top: 20px;
  border-top: 1px solid #999;
  width: 100%;
  display: flex;
  justify-content: center;
}
.signupBtn {
  background-color: #42b72a;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: "Arial";
  font-weight: 600;
  transition: 0.5s;
}
.signupBtn:hover {
  background-color: #1877f2;
}
.right p {
  font-family: "Arial";
  font-size: 15px;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 400px;
    align-content: center;
    align-items: center;
  }
  .left p {
    height: 75px;
  }
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: white;
}
.lang {
  width: 100%;

  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
li {
  margin: 5px;
  list-style: none;
}
.face {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
